<div class="commonDiv">
    <div class="exhbCommonDiv" style="background:{{bgColor}}">
        <ul class="exhbSchemeUl">

            {{#if scheme_1.baoeShanghai}}
            <li style="border-color:{{bgColor}}">
                <span><em class="exhb_icon exhbShanghai_icon"></em></span>
                <span class="exhbScheme_describe">团体意外伤害</span>
                <span><em class="exhbScheme_number" style="color:{{color}}">{{scheme_1.baoeShanghai}}</em><em class="exhbScheme_unit">万</em></span>
            </li>
            {{/if}}

            {{#if scheme_1.baoeYiliao}}
            <li style="border-color:{{bgColor}}">
                <span><em class="exhb_icon exhbYiliao_icon"></em></span>
                <span class="exhbScheme_describe">团体意外伤害医疗</span>
                <span><em class="exhbScheme_number" style="color:{{color}}">{{scheme_1.baoeYiliao}}</em><em class="exhbScheme_unit">万</em></span>
            </li>
            {{/if}}


            {{#if scheme_1.baoeZhuyuan}}
            <li style="border-color:{{bgColor}}">
                <span><em class="exhb_icon exhbZhuyuan_icon"></em></span>
                <span class="exhbScheme_describe">意外住院津贴</span>
                <span><em class="exhbScheme_number" style="color:{{color}}">{{scheme_1.baoeZhuyuan}}</em><em class="exhbScheme_unit">元/天</em></span>
            </li>
            {{/if}}


            {{#if scheme_1.baoePlane}}
            <li>
                <span><em class="exhb_icon exhbPlane_icon"></em></span>
                <span class="exhbScheme_describe">飞机</span>
                <span><em class="exhbScheme_number" style="color:{{color}}">{{scheme_1.baoePlane}}</em><em class="exhbScheme_unit">万</em></span>
            </li>
            {{/if}}


            {{#if scheme_1.baoeTrain}}
            <li>
                <span><em class="exhb_icon exhbTrain_icon"></em></span>
                <span class="exhbScheme_describe">火车</span>
                <span><em class="exhbScheme_number" style="color:{{color}}">{{scheme_1.baoeTrain}}</em><em class="exhbScheme_unit">万</em></span>
            </li>
            {{/if}}


            {{#if scheme_1.baoeCar}}
            <li>
                <span><em class="exhb_icon exhbCar_icon"></em></span>
                <span class="exhbScheme_describe">汽车</span>
                <span><em class="exhbScheme_number" style="color:{{color}}">{{scheme_1.baoeCar}}</em><em class="exhbScheme_unit">万</em></span>
            </li>
            {{/if}}


            {{#if scheme_1.baoeShip}}
            <li>
                <span><em class="exhb_icon exhbShip_icon"></em></span>
                <span class="exhbScheme_describe">轮船</span>
                <span><em class="exhbScheme_number" style="color:{{color}}">{{scheme_1.baoeShip}}</em><em class="exhbScheme_unit">万</em></span>
            </li>
            {{/if}}
        </ul>
        <div class="exhbWarnDiv">
            <header style="border-bottom: 1px solid {{bgColor}}; color: {{color}}">特别告知</header>
            <div>咖啡豆源于伊索比亚，移植其他非洲、中南美洲与亚洲等国家后，土壤、海拔与气候影响，酝酿出坚果、花香与果香气各有偏重，再加上不断改良品种后，多元气味的豆子纷纷上市，很考验玩家的经验值。</div>
        </div>
        <div class="exhbWarnDiv">
            <header style="border-bottom: 1px solid {{bgColor}}; color: {{color}}">风险提示</header>
            <div>四川峨眉山在交通不便的古代，确实很遥远，但老家人将其借代为“极遥远又神秘”的地方，很可能和清初的大移民有关。</div>
        </div>
    </div>

</div>