<div class="commonDiv">
    <img src="{{imgUrl}}" alt="">
    <div class="exhbCommonDiv" style="background:{{bgColor}}">
        <ul class="exhbHeadUl clearFix">
            <li>
    	        <span>职业类别</span>
    	        <span><em style="color:{{color}}">{{zhiyeDes}}</em></span>
    	    </li>
            <li>
                <span>人数</span>
                <span><em style="color:{{color}}">{{personNum}}人</em></span>
            </li>
            <li>
                <span>保险期间</span>
                <span><em style="color:{{color}}">{{yearDes}}</em></span>
            </li>
            <li>
                <span>保费</span>
                <span><em style="color:{{color}}">{{totalBaof}}元</em></span>
            </li>
        </ul>
    </div>
</div>